{{ appshortname }}_DATABASE_HOST=localhost
{{ appshortname }}_DATABASE_PORT=3306
{{ appshortname }}_DATABASE_NAME={{ dbname }}
{{ appshortname }}_DATABASE_USER={{ dbuser }}
{{ appshortname }}_DATABASE_PASSWORD={{ dbpassword }}
